<%- include("partials/header"); %> 

<h1>Contact</h1>

<p> The below mentioned are links to my LinkedIn and Github</p>
<br>

<i class="fab fa-linkedin fa-lg myicon" aria-hidden="true"> <a href="https://www.linkedin.com/in/akash-ratan-verma-2320/">Akash Ratan Verma</a> </i>
<br>
<i class="fab fa-github fa-lg myicon" aria-hidden="true"> <a href="https://github.com/akash-10-23">akash-10-23</a></i>

<%- include("partials/footer"); %> 